body {
  overflow-x: hidden;
}

.about-header {
  font-size: 3em;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  margin-top: 0;
}

.about-text {
  text-align: center;
  font-size: 1.5em;
  margin: 5px;
  font-weight: bold;
}

p.about-text {
  padding-bottom: 15px;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 20px 10px 40px 10px;
}

#navbar {
  background-color: transparent;
  font-weight: bold;
  border: none;
}

#navbar a {
  color: black;
  font-size: 1.2em;
  cursor: pointer;
  cursor: hand;
  margin-left: 15px;
  padding-left: 8px;
}

#scroll-down-label {
  font-size: 0.8em;
  margin-bottom: 0;
}

.scroll-down {
  text-align: center;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.scroll-down a {
  color: black;
}

#landing-content {
  height: 100%;
}

.scroll-down a:hover {
  color: #B5947E;
}

#index-background {
  height: 100vh;
  position: relative;
  background-blend-mode: lighten, luminosity;
}

#projects {
  overflow: overlay;
}

div#text-description {
  /*background-color:rgba(255,255,255, 0.1);*/
}